.card{
    width: 100%;
    max-width: 300px;
    padding: 1.1em;
    border-radius: 0.5em;
    border: 1px solid #aaa7;
    padding-top: 1.5rem;
    transition: transform 200ms ease;
    align-self: baseline;
    background-color: white;
}
.card:hover{
    transform: scale(1.05);
}
.card__info{
    display: grid;
    gap: 0.5em;
    margin-bottom: 1.2em;
    padding: 0;
}
.card__title{
    margin-bottom: 0.5em;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.card__item{
    display: flex;
    flex-direction: column;
    gap: 0.2em ;
}
.card__span{
    text-transform:  uppercase;
    color: #aaa;
    font-size: 0.8rem;
    position: relative;
    left: 1em;
}
.card__footer{
    display: flex;
    justify-content: flex-end;
    gap: .8em;
}
.card__btn{
    width: 2em;
    aspect-ratio: 1;
    padding:  0.4em;
    border-radius: .2em;
    font-size: 1.2rem;
    cursor: pointer;
}
.card__btn__trash{
    color: white;
    background-color: rgb(66, 243, 66);
}
.card__btn__edit{
    color: #aaa;
    border: 1px solid currentColor;
}
.card__btn:hover {
    box-shadow: 0 0 0.5em #0005;
    transition: box-shadow 100ms ease;
}
