.header{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.App__title{
 margin: 1rem;
 padding: 1rem;
}
.App-btn{
    font-size: 1.5rem;
    color: white;
    padding: .5em 1em;
    background-color: #067e34;
    margin: 1rem;
}
.form-container{
    position: fixed;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #067e34;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    
}
.close__form{
    display: none;
 
  
}
.user-container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}